@import 'colors.scss';

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  #chat {
    max-width: 800px;
  }
}